/*
CSS for Oliver website
*/

body {
font-family: Verdana, Helvetica, Arial, sans-serif;
background-color: #d4e5db;
line-height: 125%;
padding: 15px;
border: 2px solid gray;
}

h1 {
font-family: "apple chancery", Arial, Helvetica, sans-serif;
font-size: x-large;
background-color: navy;
color: white;
padding-top: 2em;
padding-bottom: .2em;
padding-left: .4em;
border-radius: 6px;

}

h2 {
font-family: "apple chancery", Arial, Helvetica, sans-serif;
font-size: x-large;
color: blue;
font-weight: normal;
padding-top: 15px;
}

ul li {
font-size: small;
display: inline;
}

p {
font-size: small;
color: navy;
}

/* em {
font-style: normal;
text-transform: uppercase;
} */

#tagline p {
font-style: italic;
font-family: "apple chancery",Georgia, Times, serif;
padding-top: .2em;
padding-bottom: .2em;
padding-left: .8em;
border: 1px dashed gray;

}

ol {
font-size: small;
color: navy;
}

#mainnavigation {
font-weight: bold;
padding-left: .8em;

}

#navigation a {
text-decoration: none;
}

a {
font-weight: bold;
}

/* link states */
a:link {
color: black;
}
a:visited {
color: green;
}
a:hover {
text-decoration: none;
color: pink;
background-color: navy;
}
a:active {
color: aqua;
background-color: navy;
}